body {
    background-color: blanchedalmond;
}
header {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: black;
    width: 900px;
    text-align: left;
}
.main-title {
    color: black;
}
nav { 
  display: inline-block;
  width: 740px;
  text-align: right;
}
nav ul {
    list-style-type: none;  
    font-size: 1.3em;
}
nav li {
    display: inline-block;
    margin: 15px;
}
#travel {
    color: black;
}
article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
article {
    width: 625px;
    margin-right: 15px;

}
aside{
    position: relative;
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    font-size: 1.2em;
}
aside img
{
    margin-right: 5px;
}

footer { 
    background:  url('images/top.png') no-repeat top center, url('images/line.png') repeat-x top, url('images/shadow.png') repeat-x top;
    padding-top: 25px;
}








